@model QLSV.Areas.Admin.Models.Khoa
@{
    ViewBag.Title = "Create";
    Layout = null;
}

@using (Html.BeginForm("Create", "Khoa", FormMethod.Post))
{
    <div class="Create">
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.maKhoa, htmlAttributes: new { @class = "control-label col-md-2 " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.maKhoa, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                @Html.ValidationMessageFor(model => model.maKhoa, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(model => model.tenKhoa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenKhoa, new { htmlAttributes = new { @class = "form-control ", required = "required" } })
                @Html.ValidationMessageFor(model => model.tenKhoa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
